*.pyc
*.pyc
core/__pycache__/forms.cpython-312.pyc
core/__pycache__/models.cpython-312.pyc
core/__pycache__/urls.cpython-312.pyc
core/__pycache__/views.cpython-312.pyc
core/migrations/__pycache__/0006_alter_utilizador_role_alter_utilizador_table.cpython-312.pyc
core/__pycache__/forms.cpython-312.pyc
core/__pycache__/models.cpython-312.pyc
core/__pycache__/urls.cpython-312.pyc
core/__pycache__/views.cpython-312.pyc
*.pyc
