{% extends 'home.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">{{ titulo }}</h4>
                    <div>
                        <a href="{% url 'editar_receita' receita.ID_RECEITA %}" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a href="{% url 'eliminar_receita' receita.ID_RECEITA %}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Informações da Receita</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>ID:</span>
                                    <strong>{{ receita.ID_RECEITA }}</strong>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Consulta:</span>
                                    <strong>#{{ receita.ID_CONSULTAS }}</strong>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Fatura:</span>
                                    <strong>#{{ receita.ID_FATURA }}</strong>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Data Prescrição:</span>
                                    <strong>{{ receita.DATA_PRESCRICAO }}</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h6>Medicamento</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Nome:</strong><br>
                                    {{ receita.MEDICAMENTO }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Dosagem:</strong><br>
                                    {{ receita.DOSAGEM }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Instruções:</strong><br>
                                    {{ receita.INSTRUCOES|default:"Nenhuma instrução" }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'lista_receitas' %}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Voltar à Lista
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}